/* ---------- main ---------- */

:root {
    --site-max-width: 1920px;
    --site-min-width: 350px;
    --site-width: 100%;
    --page-max-width: 1250px;
    --page-min-width: 280px;
    --page-width: 1248px;
    --bg-gray-color: #f2f2f2;
    --bg-dark-color: #313030;
}
html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1, h2, h3, a, p {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 16;
    font-style: normal;
}

.page-wrapper {
    width: var(--site-width);
    max-width: var(--site-max-width);
    min-width: var(--site-min-width);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.page {
    max-width: var(--page-max-width);
    min-width: var(--page-min-width);
    width: var(--page-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.hr-1 {
    width: var(--page-width);
    max-width: var(--page-max-width);
    min-width: var(--page-min-width);
    height: 2px;
    border: none;
    color: var(--bg-dark-color);
    background-color: var(--bg-dark-color);;
    margin-top: 88px;
}

.hr-2 {
    color: #ff2d2d;
    background-color: rgb(255, 63, 64);
    width: 134px;
    border: none;
    height: 2px;
}

.hr-3 {
    color: #ff2d2d;
    background-color: rgb(255, 63, 64);
    width: 134px;
    border: none;
    height: 2px;
    display: inline-block;
    margin-top: 50px;
}

.button {
    margin-top: 55px;
    margin-bottom: 14px;
    letter-spacing: 1.5px;
    display: block;
    width: 227px;
    padding: 16.5px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.white-button {
    color: #ff2d2d;
    background-color: white;
    border: 2px solid #ff2d2d;
}

.red-button {
    color: #ffffff;
    background-color: #ff2d2d;
}





/* ---------- header ---------- */

header {
    width: var(--site-width);
    max-width: var(--site-max-width);
    min-width: var(--site-min-width);
    background-color: var( --bg-gray-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav {

    width: var(--page-width);
    max-width: var(--page-max-width);
    min-width: var(--page-min-width);
    margin-top: 20px;
    background-color: var(--bg-dark-color);
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

        .site-menu {
            margin-left: -4.2%;
        }

        .site-menu > a {
            display: inline-block;
            position: relative;
            padding: 40px 25px 30px 25px;
            color: #e0e0e0;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }

        .site-menu > a:hover {
            background-color: #ff3f40;
        }

        #portfolio{
            margin-left: 7px;
            margin-right: -6px;
        }

/* ---------- intro ---------- */

.intro {
    background-color: var( --bg-gray-color);
    padding-bottom: 105px;
    padding-top: 37px;
}

.intro-main {
    width: 50%;
    min-width: var(--page-min-width);
}

    .intro-main > h1 {
        letter-spacing: 0.02em;
        margin-left: -2px;
        line-height: 1.2em;
    }

    #organisation {
        letter-spacing: 6px;
    }

    .intro-main > p {
        width: 80%;
        margin-top: -24px;
        line-height: 28px;
        opacity: 1;
    }

    .intro-image-wrapper {
        display: flex;
        width: 50%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 55px;
    }

        .intro-image {
            box-shadow: 5px 5px 10px grey;
            width: 100%;
            max-width: 550px;
        }



/* ---------- p1 ---------- */

.p1 {
    /*height: 569px;*/
    background-color: white;
    margin-top: 69px;
}

.p1 > .page {
    align-items: flex-start;
}

.p1-main {
    width: 51.5%;
}
    .p1-main > p {
        width: 80%;
        line-height: 27px;
    }
    .p1-main > h2 {
        letter-spacing: 0.01em;
        margin-left: -2px;
        line-height: 1.31em;
    }

.p1-service {
    display: flex;
    width: 48.5%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

    .p1-service > h3 {
        letter-spacing: 0.27px;
        margin-left: 0px;
        line-height: 0px;
    }

.services {
    width: 50%;
    margin-top: 38px;
}



/* ---------- p2 ---------- */



.p2 > .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p2-main > .hr-2 {
    margin-top: 15px;
}

.p2-main {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.p2-main > h2 {
    margin: 66px 0 0 28px;
}

.p2-main > p {
    display: inline-block;
    text-align: center;
    line-height: 1.8em;
    width: 33em;
}

.p2-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p2-nav > a {
    padding: 40px 25px 30px 25px;
    color: var(--bg-dark-color);;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.p2-nav > a:hover {
    color: #ff3f40;
}

.p2-service {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.p2-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /*max-width: 860px;*/
}

.p2-a-img {
    flex: 1 1 25%;
    min-width: 263px;
    max-width: 100%;
    /*height: 100%;*/
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    /*align-items: center;*/
}

.p2-a-img::before {
    content: '';
    padding-top: 291px;
    float: left;
}

.p2-a-img img {
    width: 100%;
    /*height: 100%;*/
    object-fit: contain;
}

.p2-a-img:hover img {
    object-fit: cover;
}


/* ---------- p3 ---------- */

.p3 {
    margin-top: 100px;
}

.p3 > .page {
    width: var(--page-width);
    max-width: var(--page-max-width);
    min-width: var(--page-min-width);
}

.p3-header {
    width: 50%;
    /*justify-content: flex-start;
    align-items: center;*/
}

.p3-header > p {
    display: inline-block;
    /*text-align: center;*/
    margin-top: -10px;
}

.p3-service {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    margin-top: 60px;
}

.big-boss {
    width: 321px;
    height: 458px;
}

.bb-a-img {
    flex: 1 1 100%;
    min-width: 250px;
    max-width: 100%;
    /*padding: 10px;*/
    box-sizing: border-box;
}

.bb-a-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bb-a-img:hover img {
    object-fit: cover;
}

.p3-description {
    position: absolute;
    width: 60%;
    left: 374px;
    top: 0;
}

.p3-description h3{
   margin-top: 0;
   font-size: 30px;
   opacity: 1;
   margin-left: 20px;
}

.p3-description p{
    margin-left: 24px;
    margin-top: -7px;
    font-size: 16px;
    line-height: 28px;
 }

.p3-social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -24px;
}

.p3-social-links > a {
    padding: 40px 8px 30px 26px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    /*margin-right: 30px;*/
}

.p3-social-links > a:hover {
    color: #ff3f40;
}

.p3-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 860px;
    margin-left: 50px;
}

.p3-a-img {
    flex: 1 1 25%;
    /*width: 25%;*/
    /*min-width: 250px;*/
    max-width: 100%;
    /*padding: 10px;*/
    display: flex;
    box-sizing: border-box;
    /*display: flex;*/
    /*align-items: flex-end;*/
}

.p3-a-img::before {
    content: '';
    padding-top: 100%;
    float: left;
}

.p3-a-img img {
    width: 100%;
    /*height: 100%;*/
    object-fit: contain;
}

.p3-a-img:hover img {
    object-fit: cover;
}


/* ---------- p4 ---------- */

.p4 {
    background-color: var(--bg-dark-color);
    color: #ffffff;
    opacity: 1;
    /*min-width: 506px;*/
    margin-top: 107px;
}

.p4 > .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--site-width);
    max-width: var(--site-max-width);
    min-width: var(--site-min-width);
}
.p4-main {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    min-width: 506px;
    padding-bottom: 118px;
}

.p4-main > h3 {
    font-size: 42px;
    line-height: 55px;
    text-transform: none;
    margin-top: 130px;
    letter-spacing: 0.01em;
    display: inline;
    text-align: center;
}

.p4-main > p {
    display: inline;
    text-align: center;
    margin-top: -18px;
}

.input-email {
    width: 70%;
    min-height: 79px;
    margin-bottom: 14px;
    max-width: 521px;
    border: none;
    border-radius: 5px;
}

.subscribe-button {
    width: 28%;
    min-height: 79px;
    background-color: #ff2d2d;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
}

.subscribe {
    justify-content: space-between;
    max-width: 753px;
    width: 90%;
}

/* ---------- p5 ---------- */
.p5 {
    margin-top: 60px;
}
.p5-header {
    width: 60%;
}
.p5-main {
    margin-top: 65px;
    margin-bottom: 85px;
    max-width: var(--page-max-width);
    min-width: var(--page-min-width);
    width: var(--page-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.p5 .hr-3 {
    margin-top: 50px;
}
.feedback {
    flex: 1 1 60%;
    max-width: 731px;
}

.feedback-form {
    color: grey;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin-bottom: 45px;
}

.name-mail-row {
    justify-content: space-between;
}

.input-name {
    width: 48%;
    /*max-width: 339px;*/
    height: 69px;
    padding: 0 16px;
}

.input-mail {
    width: 48%;
    /*max-width: 339px;*/
    height: 69px;
    padding: 0 16px;
}

.input-message {
    resize: none;
    font-size: 16px;
    font-family: 'OpenSans Regular';
    width: 100%;
    height: 249px;
    box-sizing: border-box;
    padding: 16px;
    margin-bottom: 45px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.contact-info {
    flex: 1 1 29%;
    /*min-height: 481px;*/
    color: cornsilk;
    background-color: var(--bg-dark-color);;
    position: relative;
    margin-left: 105px;

    /*padding-left: 50px;*/
    padding: 146px 0 146px 41px;
}

.contact-info > h2 {
    margin-top: 13px;
    color: #e0e0e0;
    font-size: 18px;
}

.contact-info::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 100vw;
    height: 481px;
    background-color: var(--bg-dark-color);;
}

.p5 .row {
    align-items: flex-start;
    width: 100%;
}

.send-button {
    width: 100%;
    min-height: 79px;
    background-color: #ff2d2d;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 0px;
    /*margin-left: 32px;*/
    color: #fff;
}

/* ---------- footer ---------- */

footer  {
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    max-width: var(--site-max-width);
    min-width: var(--site-min-width);
    background-color: #313030;
    height: 113px;
    color: #B8B8B8;
    justify-content: center;
    align-items: center;
}

    .footer-wrapper {
        display: flex;
        width:80%;
        max-width: var(--page-max-width);
        margin-left: -3.8%;
        justify-content: center;
        align-items: center;
    }

        .copyright {
            width: 50%;
        }

        .social-ico {
            display: flex;
            width: 50%;
            right: 0;
            flex-direction: row;
            justify-content: flex-end;
        }

            .social-ico > a {
                display: inline-block;
                margin: 0px 10px 0px 10px;
            }



/* ---------- media ---------- */
@media screen and (max-width:1366px) {
    /* ---------- main ---------- */
    :root {
        --page-width: 910px;
    }
    h2 {
        font-size: 28px;
    }
    .button {
        margin-top: 22px;
    }
    /* header */
    nav {
        width: var(--site-width);
        max-width: var(--site-max-width);
        min-width: var(--site-min-width);
        margin-top: 0;
        }
    /* ---------- intro ---------- */
    .intro {
        padding-bottom: 50px;
        padding-top: 0;
    }
    .intro-main > h1 {
        font-size: 40px;
    }

    .intro-main > p {
        margin-top: -22px;
    }

    #organisation {
        letter-spacing: 0px;
    }

    .p3-gallery {
        margin-left: 0;
    }

    .p5-header {
        width: 100%;
    }

    .p5-main {
        justify-content: center;
    }
    .contact-info{
        width: var(--site-width);
        min-width: var(--site-min-width);
        margin-left: 0;
        padding: 10px;
        margin-top: 30px;
    }
    .contact-info::after {
        content: none;
    }
    .feedback {
        max-width: var(--page-max-width);
    }
}

@media screen and (max-width:950px) {

    /* ---------- main ---------- */
    :root {
        --page-width: 524px; /*524px*/
    }

    .p1 {
        margin-top: 15px;
    }

    .page {
        justify-content: center;
        align-items: center;
    }
    h2 {
        font-size: 21px;
        line-height: 30px;
    }
    .page-main {
        width: 100%;
    }

    /* ---------- intro ---------- */
    .intro-main > h1 {
        font-size: 30px;
    }
    .intro {
        padding-bottom: 10px;
        padding-top: 0;
    }
    .intro-main {
        width: 100%;
    }
    .intro-image-wrapper {
        width: 100%;
        align-items: center;
        margin-top: 10px;
        justify-content: center;
    }
    .intro-wrapper {
        align-items: center;
    }

    /* ---------- p1 ---------- */
    .p1-main, .p1-service {
        width: 100%;
    }

    /* ---------- p2 ---------- */
    .p2-main {
        width: 100%;
    }
    .p2-nav {
        flex-direction: column;
        align-items: center;
    }
    .p2-nav > a {
        padding: 5px;
        color: var(--bg-dark-color);
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    /* ---------- p3 ---------- */
    .p3-service {
        flex-direction: column;
        margin-top: 15px;
        align-items: center;

    }

    .p3-description {
        position: inherit;
        width: 100%;
        left: 0;
    }
    .p3-header {
        width: 100%;
    }
    .big-boss {
        width: 100%;
    }

    .p3-social-links {
        justify-content: center;
    }
    .p3-gallery {
        justify-content: center;
    }

    .p3-a-img {
        flex: 1 1 50%;
        min-width: 250px;
        max-width: 300px;
    }

    /* ---------- p4 ---------- */


    .p4 > .page {
        width: var(--site-width);
    }

    .p4-main {
        width: 100%;
        min-width: 350px;
        padding-bottom: 30px;
    }

    .p4-main > h3 {
        margin-top: 30px;
    }

    /* ---------- p5 ---------- */

@media screen and (max-width:630px) {

    /* ---------- main ---------- */
    :root {
        --site-min-width: 350px;
        --page-min-width:280px;
        --page-max-width:550px;
        --page-width: 90%;
    }
    h2 {
        font-size: 20px;
        line-height: 20px;
    }
    h3 {
        font-size: 18px;
    }

    /* ---------- header ---------- */
    nav {
        padding-right: 20px;
        justify-content: flex-end;
    }
    .site-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .site-menu > a {
        padding: 0;
    }
    #portfolio {
        margin: 0;
    }

    /* ---------- intro ---------- */
    .intro-main > h1 {
        font-size: 25px;
    }

    /* ---------- p1 ---------- */
    .services {
        width: 100%;
    }

    /* ---------- footer ---------- */
    .footer-wrapper {
        flex-direction: column;
    }
    .copyright {
        width: 100%;
    }
    .social-ico {
        width: 100%;
        right: 0;
        flex-direction: row;
        justify-content: flex-end;
    }
        .social-ico > a {
            display: inline-block;
            margin: 0px 10px 0px 10px;
        }

        .social-ico > a  > img {
            width: 16px;
        }
}