.js/
.vscode/
5/
6/
b2/
b3/
b4/
b5/
*.pyc
*.sqlite3
getJSON/
guess/
tmp/
hw.a.6.14/css/test.css
hw.b.4/sochi_atheletes.sqlite3
hw.a.6.14/test.html
hw.b.6/*.json
*/.venv/*
*/venv/*
*/.vscode/
c1/*
HW/B/hw.b.6/.venv/*
HW/C/hw.c.2/.venv/*
TESTS/

