.nav-link:hover {
    color:white;
    background-color: #007bff;
}

.header {
    margin-bottom: 50px;
}

.spinner-border{
    display: none;
}
/*
.result::before {
    content: '';
    padding-top: 100%;
    float: left;
}*/
/*
.var1 {
    background-color: rgb(255, 0, 0)
}
*/