body {
  background-color: black;
  background: url('https://s.vtambove.ru/localStorage/news/3e/18/06/91/3e180691.jpg');
  background-size: 100%;
  background-repeat: space;
}

button{
    padding: 20px;
    background: linear-gradient(0deg, rgb(250, 128, 128), rgb(135, 255, 135));
    border: 1px solid blue;
    border-radius: 10%;
    font-family: 'VT323';
    font-size: 3rem;
  }

h1 {
  color: blue;
}

.page-wrapper {
  background-color: rgb(32, 2, 59);
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 120px 1fr 100px;
  height: 100vh;
  grid-template-areas:
    "left-sidebar header right-sidebar"
    "left-sidebar main right-sidebar"
    "left-sidebar footer right-sidebar";
}

.site-header {
  display: grid;
  justify-items: center;
  align-items: center;
  min-height: 100px;
  background-color: rgb(32, 2, 59);
  grid-area: header;
  color: rgb(255, 255, 255);
}

.main {
  border-radius: 10%;
  display: grid;
  justify-items: center;
  align-items: center;
  min-width: 300px;
  min-height: 200px;
  grid-area: main;
  background-color: rgb(65, 2, 2)
}

.left-sidebar {
  background-color: rgb(32, 2, 59);
  grid-area: left-sidebar;
}

.right-sidebar {
  background-color: rgb(32, 2, 59);
  grid-area: right-sidebar;
}

.site-footer {
  min-height: 100px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgb(32, 2, 59);
  color: rgb(255, 255, 255);
  grid-area: footer;
}